{% extends '::base.html.twig' %}

{% block title %}Shop Homepage{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('assets/vendor/fontawesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">

{% endblock %}


{% block body %}


    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Shop Name</p>
                <div class="list-group">
                    <a href="#" class="list-group-item">Category 1</a>
                    <a href="#" class="list-group-item">Category 2</a>
                    <a href="#" class="list-group-item">Category 3</a>
                </div>
            </div>

            <div class="col-md-9">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="images/1.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="images/2.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="images/3.jpg" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="count">
                        {{ pagination.getTotalItemCount }}
                    </div>


                    {% for product in pagination if (product.active and is_granted('ROLE_USER')  == true) %}
                        <div class="col-sm-4 col-lg-4 col-md-4">
                            <div class="thumbnail">
                                <img src="{{ asset(['images/', product.image]|join) }}"/>
                                <div class="caption">
                                    <h4 class="pull-right">$24.99</h4>
                                    <h4><a href="{{ path('create_product_show', { 'id': product.id }) }}">{{ product.name }}</a>
                                    </h4>
                                    <p>{{ product.description }}<a target="_blank" href="http://www.bootsnipp.com">See more...</a>.</p>
                                </div>
                                <div class="ratings">
                                    <p class="pull-right">15 reviews</p>
                                    <p>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                    </p>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>

                    {% if is_granted('ROLE_USER') == false %}
                        <h1>Login to see the stuff</h1>
                    {% endif %}


                </div>
                <!-- /.container -->
            </div>

            <div class="container">

                <hr>

                <!-- Footer -->
                <footer>
                    <div class="row">
                        <div class="col-lg-12">
                            <p>Copyright &copy; Your Website 2014</p>
                        </div>
                    </div>
                </footer>

            </div>
        </div>
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>


    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>
    <table>
        <tr>
             sorting of properties based on query components
            <th>{{ knp_pagination_sortable(pagination, 'id', 'a.id') }}</th>
            <th{% if pagination.isSorted('a.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'a.name') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Release', ['a.date', 'a.date']) }}</th>
        </tr>

         table body
        {% for article in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ article.id }}</td>
                <td>{{ article.name }}</td>
                <td>{{ article.date | date('Y-m-d') }}, {{ article.date | date('H:i:s') }}</td>
            </tr>
        {% endfor %}
    </table>
     display navigation
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>



{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/vendor/bootstrap/js/jquery.js') }}"></script>
{% endblock %}



