{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
{% endblock %}
{% block body %}
<div class="container">
    <div class="col-md-12">
        <div id="form-holder">
            <h1>Product creation</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="input-button"/>
        {{ form_row(form.image) }}
    {{ form_end(form) }}
    <ul>
        <li>
            <a href="{{ path('create_product_index') }}">Back to the list</a>
        </li>
    </ul>
            </div>
        </div>
    </div>
{% endblock %}
